.wrapper{
display:flex;
height: 100vh;
max-width:100vw;
width:50%;
margin: 0 auto;
align-items: center;
justify-content: center;
flex-direction: column;
gap:20px;
}
.wrapper button{
    padding: 10px 20px;
    background:#744646;
    border: none;
    color:#fff;
    cursor: pointer;
}
.wrapper button:focus{ background:#3ef18f;}
.accordion{
width:500px;
}
.item{
background: #4386a5;
margin:0 auto 10px;
padding: 10px 20px
}
.title{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 20px;
}
.content{
    color:#fff;
    max-height: auto;
}
.headerStyl{
    font-size: 36px;
    margin: 0 auto;
    color: #694daa;
    padding: 20px 0;
}  
  
  